<center>
<h1> Friend List </h1>
</center>

<% if @friends.empty? %>
	<div class="alert alert-danger"> You have no friend. </div>
<% end %>
<div class="row">
	<div class="col col-md-9">
		<table class="table table-triped">
			<thead class="thead bg-success">
				<tr>
					<th> Name </th>
					<th> Email </th>
					<th> Added at </th>
					<th> Option </th>
				</tr>
			</thead>
			<tbody>
			<% @friends.each do |friend| %>
				<tr class='table-success'>
				<td><%= friend.friend.name %></td>
				<td><%= friend.friend.email %></td>
				<td><%= friend.friend.created_at %></td>
				<td><%= link_to "Unfriend", unfriend_path(:id => friend.id), method: :delete, data: { confirm: "Are you certain you want to unfriend #{friend.friend.name} ?"  } %> </td>
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>