<center>
<h1> Add friend </h1>
</center>

<p>Do you want to add <b><%= @friend.name %></b> as your friend </p>
<%= link_to "Yes", new_friend_path(:user => @friend.id ,:confirm => 'yes') ,class: 'btn btn-primary' %>
<%= link_to "No", new_friend_path(:user => @friend.id ,:confirm => 'no') ,class: 'btn btn-warning' %>
