<center>
<h1> Add friend </h1>
</center>

<p>Do you want to sent <b><%= @friend.name %></b> a message? </p>
<%= link_to "Yes", users_path ,class: 'btn btn-primary' %>
<%= link_to "No", users_path ,class: 'btn btn-warning' %>
